.main-page {
    background: url("..img/mob-bg-main-sochi.jpg") no-repeat bottom;
    background-size: cover;
    height: 583px;
    padding: 25px 0 0;
    box-sizing: border-box;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        left: 40%;
        bottom: -57px;
        display: inline-block;
        height: 238px;
        width: 48px;
        background-image: url("../img/320_main-page_line.svg");
        background-repeat: no-repeat;
        background-color: transparent;
    }
    &__title {
        color: var(--main-h-color);
        letter-spacing: 1px;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 16px;
        @media screen and (min-width: 720px) {
            font-size: 26px;
            letter-spacing: 1.3px;
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1301px) {
            font-size: 36px;
        }
    }
    &__direction {
        color: var(--main-h-color);
        font-family: 'Roboto Slab', serif;
        font-size: 50px;
        letter-spacing: -1px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 39px;
        line-height: 48px;
        @media screen and (min-width: 720px) {
            margin-bottom: 27px;
            font-size: 72px;
            letter-spacing: -1.9px;
        }
        @media screen and (min-width: 1301px) {
            margin-bottom: 57px;
        }
    }
    @media screen and (min-width: 720px) {
        background-image: url("../img/sochi-bg-tablet.jpg");
        height: 600px;
        &:after {
            left: calc(48% - 7px);
            bottom: -54px;
        }
    }
    @media screen and (min-width: 1301px) {
        background-image: url("../img/sochi-bg-desktop.jpg");
        height: 600px;
    }
    .main-nav {
        height: 16px;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        align-items: flex-end;
        .hamburger {
            margin-top: 9px;
            width: 22px;
            padding: 0;
            height: 16px;
            align-self:flex-start;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            font-size: 0;
            display: flex;
            margin-right: auto;
            margin-left: 0;
            cursor: pointer;
            position: relative;
            &__line {
                width: 22px;
                height: 1px;
                display: inline-block;
                position: absolute;
                left: 0;
                background-color:  var(--main-h-color);
                &--top {
                    top: 0;
                }
                &--middle {
                    top: 7px;
                }
                &--bottom {
                    bottom: 0;
                }
            }
        }
        @media screen and (min-width: 720px) { 
            height: 30px;
            width: 100%;
            display: flex;
            font-family: "Raleway",serif;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
        }
    }
    .user-account, .currency, .language, .service {
        display: none;
        @media screen and (min-width: 720px) {
            display: initial;
        }
    }
    .user-account {
        @media screen and (min-width: 720px) {
        margin-left: auto;
        margin-right: 54px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.8px;
        &__icon {
            display: inline-block;
            background: url("../img/user.svg") no-repeat;
            height: 12px;
            width: 10px;
            margin-right: 3px;
        }
        &__lists {
            display: inline-block;
        }
        &__list {
            display: none;
            &--active {
                display: inline-block;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    top: 7px;
                    right: -15px;
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-color: var(--main-h-color) transparent transparent transparent;            
                }
            }
        }
        
    }
    }
    .user-account__btn, .currency__btn ,.language__btn{
        display: none;
    }
    .service {
        &__phone {
            text-decoration: none;
color: var(--main-h-color);
font-family: "Raleway";
font-size: 14px;
font-weight: 700;
letter-spacing: 2.2px;
margin-left: auto;
line-height: 20px;
margin-right: 13px;
        }
        &__title {
            color: var(--main-h-color);
            font-family: "Raleway";
            font-size: 10px;
font-weight: 400;
letter-spacing: 1.1px;
line-height: 10px;
        }
        @media screen and (min-width: 720px) {
            margin-right: 0;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-items: flex-end;
        }
    
    }
    .currency {
        margin-right: 45px;
        &__icon {
            display: inline-block;
            background: url("../img/Р.svg") no-repeat;
            height: 12px;
            width: 10px;
            margin-right: 4px;
        }
        &__lists{
            display: inline-block;
        }
        &__list {
            display: none;
            letter-spacing: 1.5px;
            &--active {
                display: initial;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    top: 7px;
                    right: -14px;
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-color: var(--main-h-color) transparent transparent transparent;            
                }
            }
        }
        
    }
    
    
    .language {
        margin-right: 34px;
        .custom-select {
            .language__lists {
                background-color: transparent;
                font-family: "Raleway",serif;
                color: var(--main-h-color);
                font-size: 14px;
                line-height: 18px;
                text-align: left;
                outline: none;
                border: none;
            }
        }
    }
    
    .menu-nav__links {
        display: none;
        top: 25px;
        box-sizing: border-box;
        position: absolute;
        width: 290px;
        min-height: 410px;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        text-align: left;
        background-color: var(--main-h-color);
        color: #ffffff;
        padding: 33px 0 0 24px;
        z-index: 10;
        &--opened {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .menu-nav__link {
            height: 50px;
            display: block;
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
            &:hover {
                color: var(--main-lbh-color);
            }
            &:active {
                color: var(--main-lba-color);
            }
        }
        @media screen and (min-width: 720px) {
            width: 420px;
            padding: 73px 0 0 44px;
        }
       
       
    }
    .logo-main {
        box-sizing: border-box;
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        margin-top: -18px;
        margin-bottom: 13px;
        @media screen and (min-width: 720px) {
            margin-top: 88px;
            margin-bottom: 11px;
        }
        @media screen and (min-width: 1301px) {
            margin-top: 25px;
        }
    }
   
    .main-btn {
        margin-bottom: 24px;
        letter-spacing: 1.3px;
        @media screen and (min-width: 720px) {
        letter-spacing: 0.7px;
        }
        @media screen and (min-width: 1301px) {
            margin-bottom: 18px;
        }
    }
    .logo-line {
        display: block;
        margin: 0 auto;
        height: 223px;
        @media screen and (min-width: 1301px) {
            width: 61px;
            height: 308px;
        }
    }    

}