@import 'reset.scss';
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
:root {
--main-h-color: #0d3351;
--main-lb-color: #33c7fd;
--main-lbh-color: #13b0e9;
--main-lba-color: #64d6ff;
--tablet: 720px;
--desktop: 1140px;
}
body {
    background-color: #f3f3f3;
    font-family: "Roboto Slab", serif;
    color: var(--main-h-color);
    min-width: 320px;
}
.container {
    width: 290px;
    margin: 0 auto;
    
}
@media screen and (min-width: 720px) {
   .container{
        width: var(--tablet);
   }
}
@media screen and (min-width: 1140px) {
    .container{
         width: var(--desktop);
    }
 }
@import "main-page.scss";
@import "catalog.scss";
@import "main-footer.scss";

.btn{
    background-color: var(--main-lb-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 202px;
    color: #ffffff;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Raleway', serif;
    text-decoration: none;
    height: 47px;
    margin: 0 auto;
    margin-bottom: 25px;
    &:hover {
        background-color: var(--main-lbh-color);
    }
    &:active {
        background-color: var(--main-lba-color);
    }
}

.overlay {
    display: none;
    position: absolute;
    z-index: 11;
    &--opened{
        position: fixed; 
        top: 0;
        display: block;
        width: 100%;
        min-height: 100%;
        z-index: 9;
        background-color: rgba(000, 000, 000, 0.5);
        content: '';
    }
}
.template {
    display: none;
    z-index: 12;
    box-sizing: border-box;
    width: 320px;
    padding: 15px;

    @media screen and (min-width: 720px) {
        width: 721px;
        height: 691px;
        padding: 97px 0 0 64px;
    }
    background-color: #ffffff;
    
    &--opened {
        position: absolute; 
        display: flex;
        flex-direction: column;
        left: calc(100vw / 2 - 320px / 2);
        top: 10vh;
        @media screen and (min-width: 720px) {
            left: calc(50% - 721px/2);
            top: 10vh;
            flex-direction: row;
        }
        
    }
    &__lib {
        display: grid;
        width: 282px;
        height: 237px;
        margin-bottom: 10px;
        grid-template-columns: repeat(4, 66px);
        grid-gap: 5px;
        grid-template-rows: 44px;
        grid-auto-rows: 44px;
        @media screen and (min-width: 720px) {
            margin: 0;
        }
    }
    .lib__img {
        order: 2;
        &--main {
            grid-row: span 4;
            grid-column: span 4;
            order: 1;
        }
    }
    &__desc {
        margin-left: 30px;
        .tour{
            &__title{
                margin-left: 0;
            }
            &__desc{
                margin-left: 0;
            }
            &__price {
                display: inline-block;
                margin: 0;
                margin-bottom: 19px;
            }
            &__booking{
                margin: 0;
            }
            &__schedule{
                text-align: left;
                font-family: "Raleway", serif;
                font-size: 14px;
                line-height: 24px;
                color: var(--main-h-color);
                margin-bottom: 30px;
                padding-right: 35px;
            }
        }
        
    }
    .tour-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        fill: #8699a8;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        outline: none;
        background: none;
        margin: 0;
        border: none;
        padding: 0;
        line-height: 0;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        box-sizing: border-box;
        @media screen and (min-width: 720px) {
            width: 30px;
            height: 30px;
        }
    }
}